<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="LOG_FILE" value="/app/logs/app.log" />

    <appender name="JSON-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/app/logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                          "log.level": "%level",
                          "service.name": "tasksManagement",
                          "logger": "%logger",
                          "thread.name": "%thread",
                          "message": "%message",
                          "trace.id": "%X{trace.id}",
                          "span.id": "%X{span.id}"
                        }
                    </pattern>
                </pattern>
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="JSON-FILE" />
    </root>

</configuration>
